html {
    font-family: 'Ubuntu Mono', monospace;
}

body {
    margin: 0;
}

a {
    color: black;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 96px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.App {
    line-height: 1.5;
    flex: 1;
    position: relative;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.player-details {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1;
    background-color: rgba(253, 53, 53, 0.5);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 1;
    background-color: rgba(10, 137, 255, 0.5);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.left:hover {
    background-color: rgba(253, 53, 53, 0.9);
}

.right:hover {
    background-color: rgba(10, 137, 255, 0.9);
}

.search-container {
    flex: 1;
    margin: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.player-label {
    margin-bottom: 2%;
}

input {
    border-radius: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 5px 10px;
}

.dropdown-container {
    flex: 1;
    position: relative;
}

.dropdown {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow-y: auto;
    font-size: 16px;
    z-index: 10;
    border-radius: 10px;
}

.dropdown:empty {
    display: none;
    border:none;
}

.dropdown-line {
    cursor: pointer;
    text-align: start;
    padding: 3px;
}
  
.dropdown-line:hover {
    background-color: rgb(255, 201, 113);
}

.dropdown::-webkit-scrollbar {
    width: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.battle-table-header {
    margin-left: 2%;
}

.player-table {
    margin-left: auto;
    margin-right: auto;
}

.startBattle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.start-battle-button {
    font-size: 32px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 25px;
    background-color: rgb(252, 191, 73);
    border: rgb(252, 191, 73);
    color: black;
    box-shadow: 5px 10px;
}

.start-battle-button:hover {
    filter: brightness(110%);
}

.start-battle-button:disabled {
    background-color: rgb(109, 104, 117);
    color: white;
    box-shadow: 5px 10px black;
}

.change-player-div {
    margin: 2%;
}

.change-player-button {
    height: 44px;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(255, 201, 113);
    border: rgb(255, 201, 113);
    border-radius: 25px;
    box-shadow: 5px 10px black;
}

.change-player-button:hover {
    filter: brightness(110%);
}

.battle {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-container {
    position: relative;
}

.header-container::before {
    font-size: 96px;
    font-family: 'Oleo Script', cursive;
    content: 'VS';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.battle-header {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.battle-header-player1 {
    flex: 1;
    background-color: rgba(253, 53, 53, 0.5);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
    font-size: 16px;
    text-align: left;
    padding-left: 2%;
    padding-bottom: 1%;
}

.battle-header-player2  {
    flex: 1;
    background-color: rgba(10, 137, 255, 0.5);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    font-size: 16px;
    text-align: right;
    padding-right: 2%;
    padding-bottom: 1%;
}

.vs-header-player1 {
    padding-right: 15%;
}

.vs-header-player2 {
    padding-left: 15%;
}

.winner-details {
    text-align: center;
    margin: 1%;
    background-color: rgb(255, 201, 113);
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding: 2%;
}

.new-battle {
    display: flex;
    justify-content: center;
    margin-bottom: 2%
}

.battle-table-div {
    flex: 1;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-size: 16px;
    border: solid 1px black;
    border-radius: 5px;
}

.battle-content {
    margin: 5px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.battle-content::-webkit-scrollbar {
    width: 10px;
}

.battle-content::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.battle-table-header {
    margin-left: 2%;
}

footer {
    text-align: center;
    margin-bottom: 1%;
}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 16px;
    }

    .player-details {
        flex-direction: column;
    }

    .search-container {
        margin: 2%;
    }

    .left {
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 0;
    }

    .right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0;
        margin-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .startBattle {
        top: 90%;
    }

    .start-battle-button {
        font-size: 16px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .player-info {
        font-size: 14px;
    }

    .player-name {
        font-size: 16px;
    }

    .change-player-button {
        font-size: 12px;
        height: 32px;
    }

    .battle-header-player1 {
        margin-right: 0;
    }

    .battle-header-player2 {
        margin-left: 0;
    }

}

@media only screen and (max-width: 500px), only screen and (max-height: 700px) {
    
    h1 {
        font-size: 32px;
    }

    .player-name, .player-info {
        font-size: 12px;
    }

    .battle-header-player1, .battle-header-player2 {
        font-size: 12px;
    }

    .winner-text {
        font-size: 14px;
    }

    .battle-table-div, .battle-table-header {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(18, 18, 18);
        color: white;
    }

    a {
        color: white;
    }

    .dropdown-line {
        color: black;
    }

    .battle-content::-webkit-scrollbar-thumb {
        background-color: white;
    }

    .winner-text {
        color: black;
    }
}