.intro-box {
  text-align: center;
  background-color: rgb(91, 35, 51);
  color: rgb(247, 244, 243);
}

.App {
  text-align: center;
  background-color: rgb(247, 244, 243);
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border: solid rgb(91, 35, 51);
}

.player-details {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.search-container {
  display: flex;
  flex-direction: column;
  width:220px;
  margin-left:25%;
  margin-right: 25%;
}

.dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  height: 60vh;
  overflow: auto;
}

.dropdown:empty {
  border:none;
}

.dropdown-line {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.dropdown-line:hover {
  background-color: aqua;
}

input {
  width: 100%;
}

.battle {
  margin: 1em;
}

.inner-container {
  display: flex;
}

.footer {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
